.popup__submit-button {
  border: 0;
  padding: 0;
  border-radius: 2px;
  background-color: #000;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  text-align: center;
  color: #fff;
  transition: opacity .5s;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
